[submodule "Brain"]
	branch=main
	path = Brain
	url = https://github.com/Ringloop/PiSec-Brain.git
[submodule "Crawler"]
	branch=main
	path = Crawler
	url = https://github.com/Ringloop/PiSec-Crawler.git
[submodule "Proxy"]
	branch=main
	path = Proxy
	url = https://github.com/Ringloop/PiSec-Proxy.git
[submodule "Deploy"]
	branch=main
	path = Deploy
	url = https://github.com/Ringloop/PiSec-Deploy.git
